<div class="wrapper">
  <nav [hidden]="!isLoggedIn">
    <mat-toolbar style="background-color: #7986cb">
      <mat-toolbar-row style="height: 80px; display: flex;flex-direction: row;justify-content: space-between;">

        <div>
          <h1 style="font-size: 30px;color: white;">Orders App</h1>
        </div>

        <div class="nav-wrapper">
          <a routerLink="/orders" class="nav-link">Orders</a>
        </div>

        <div>
          <button mat-raised-button color="accent" (click)="logout()">LOGOUT</button>
        </div>

      </mat-toolbar-row>
    </mat-toolbar>

  </nav>

  <router-outlet></router-outlet>

  <div style="flex-grow:1"></div>
  <div class="footer" *ngIf="isLoggedIn">

    <div id="footerText">
      <span style="text-align: left;margin-left: 20px;">v1.0.0</span>
      <span style="text-align: center;">© 2023 Orders App </span>
      <span style="text-align: right;margin-right: 20px;">{{currentUser?.role}}: {{currentUser?.email}}</span>
    </div>

  </div>

</div>
